*,
html {
  margin: 0;
  padding: 0;
  outline: none;
  word-spacing: 5px;
  box-sizing: border-box;
}

body {
  color: #8a7e8c;
  font-family: "Poppins";
  background-color: #fefaff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  line-height: 35px;
}

.margin__bottom {
  margin-bottom: 1rem;
}

.margin__top {
  margin-top: 1rem;
}

.font__weight__500 {
  font-weight: 500;
}

.special__border {
  padding: 0.75rem 0.75rem;
  border-radius: 7px;
  border-left: 5px solid #b61bff;
  background-color: #fbf1ff;
}

.special__font {
  font-family: "Press Start 2P";
}
