*,
html {
  margin: 0;
  padding: 0;
  outline: none;
  word-spacing: 5px;
  box-sizing: border-box;
}

body {
  color: #8a7e8c;
  font-family: "PT Sans", sans-serif;
  background-color: #fcfcfc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 200ms ease-in-out;
}

h2 {
  line-height: 35px;
}

.font__large {
  font-size: 20px;
}

.margin__bottom {
  margin-bottom: 1rem;
}

.margin__top {
  margin-top: 2rem;
}

.font__weight__500 {
  font-weight: 500;
}

.special__border {
  padding: 1.5rem 1rem;
  border-radius: 7px;
  border-left: 5px solid #ff1b88;
  background-color: #fff8fb;
  transition: background-color 200ms ease-in-out;
}

.special__font {
  font-family: "Press Start 2P";
}

/* dark-purple theme */
.dark__purple__theme {
  background-color: #1e1321 !important;
}

.elements__dark__shade {
  background-color: #2e2433 !important;
}

.theme__button {
  width: 45px;
  height: 45px;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  border: 5px solid #ffdded;
  border-radius: 50%;
  background-color: #ff1b88;
}

.fa-sun,
.fa-moon {
  transition: all 300ms ease-in-out;
}

.rotateZ-sun {
  transform: rotateZ(-35deg);
}

.rotateZ-moon {
  transform: rotateZ(75deg);
}

.flex__end {
  display: flex;
  justify-content: flex-end;
  background-image: url("./assets/images/dotted__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
